<div id="top">

  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">business</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "営業リスト", histories_path %></span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">list</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "顧客リスト", customers_path %></span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">group</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "社員リスト", customers_path %></span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">library_add</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "新規営業履歴", 'histories/new' %></span>

          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">face</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "新規顧客", 'customers/new' %></span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col">
      <div class="demo-card-event mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <i class="material-icons md-48">person_add</i>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span id="select_name"><%= link_to "新規社員登録", customers_path %></span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </div>
</div>

</div>