<%= form_for(@history) do |f| %>
  <% if @history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@history.errors.count, "error") %> prohibited this history from being saved:</h2>

      <ul>
      <% @history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"活動日時" %><br>
    <%= f.datetime_select :activity_time %>
  </div>
  <div class="field">
    <%= f.label :"会社名" %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :company_name) %>
  </div>
  <div class="field">
    <%= f.label :"営業区分" %><br>
    <%= f.select(:sales_category, options_for_select(%w{商品案内 契約 フォロー クレーム処理 },'商品案内')) %>
  </div>
  <div class="field">
    <%= f.label :"営業成果" %><br>
    <%= f.select(:sales_achievement, options_for_select(%w{達成 継続 失敗}, '継続')) %>
  </div>
  <div class="field">
    <%= f.label :"営業担当者ID" %><br>
    <%= f.text_field :staff_info_id %>
    <%#= @history.staff_info.name %>
  <div class="field">
    <%= f.label :"詳細" %><br>
    <%= f.text_area :detail %>
  </div>
  <div class="actions">
    <%= f.submit :"登録" %>
  </div>
<% end %>
