<p id="notice"><%= notice %></p>

<h2 id="historytitle">営業リスト</h2>






<table>
  <thead>
    <tr>
      <th>営業日時</th>
      <th>顧客名</th>
      <th>営業区分</th>
      <th>営業成果</th>
      <th>詳細</th>
      <th>営業担当者名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.activity_time %></td>
        <td><%= history.customer.company_name %></td>
        <td><%= history.sales_category %></td>
        <td><%= history.sales_achievement %></td>
        <td><%= history.detail %></td>
        <td><%= history.staff_info.name %></td>
        <td><%= link_to '確認', history %></td>
        <td><%= link_to '編集', edit_history_path(history) %></td>
        <td><%= link_to '削除', history, method: :delete, data: { confirm: '本当に消してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to '新規登録', new_history_path %>

<!-- 追加箇所開始 -->
<%= paginate @histories %>
<!-- 追加箇所終了 -->

<br>

<%= column_chart History.chart_h %>
