<p id="notice"><%= notice %></p>

<h2 id="kokyakutitle">顧客リスト</h2>

<table>
  <thead>
    <tr>
      <th>顧客ID</th>
      <th>会社名</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>担当者名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.company_name %></td>
        <td><%= customer.zip %></td>
        <td><%= customer.address %></td>
        <td><%= customer.tel %></td>
        <td><%= customer.responsible_name %></td>
        <td><%= link_to '確認', customer %></td>
        <td><%= link_to '編集', edit_customer_path(customer) %></td>
        <td><%= link_to '削除', customer, method: :delete, data: { confirm: '本当に消してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="newsave">
<%= link_to '新規登録', new_customer_path %>
</div>